html {
	background: #3C3B37;
	font-family: arial, sans-serif;
	color: white;
}

body {
	background: #050B14;
	margin-bottom: 150px;
	padding-bottom: 50px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #E5BC39;
	font-size: 60px;
	font-weight: bold;
	font-family: georgia, times, serif;
}

#flickr-thumbnail-grid div {
	display: inline-block;
	margin-bottom: 20px;
}

#flickr-pager a {
	display: inline-block;
	padding: 0 2px;
}

#flickr-pager a.current {
	color: #E5BC39;
	text-decoration: underline;
}

.container {
	width: 910px;
	padding: 0 60px 0;
	margin: auto;
	overflow: hidden;
}

.share-button {
	background: #54080F;
}

#flickr-thumbnail-grid img {
	display: block;
}

#flickr-thumbnail-grid a {
	padding: 1px;
	display: block;
	/* FIXME: Justify instead */
	/* margin: 0 20px 20px 0; */
}

#flickr-thumbnail-grid a:hover,
#flickr-thumbnail-grid .current a {
	border: 1px solid #E5BC39;
	padding: 0;
}

hr {
	border-width: 0 0 4px 0;
	border-color: white;
	border-style: solid;
}

#flickr-main-image {
	height: 500px;
}

#flickr-main-image img {
	margin: 0 auto;
	max-height: 100%;
}

#flickr-main-image {
	text-align: center;
}

#flickr-thumbnail-grid {
	text-align: justify;
	text-align-last: justify;
}

#flickr-thumbnail-grid:after {
	content: "";
	display: inline-block;
	width: 100%;
}

#flickr-search {
	margin: 20px 0;
	float: right;
}

.maroon-background {
	background: #650700;
	height: 270px;
	margin-bottom: -270px;
}

#flickr-pager {
	text-align: right;
}
