html {
	background: #3C3B37;
	font-family: arial, sans-serif;
	color: white;
}

body {
	background: #050B14;
	margin-bottom: 150px;
	padding-bottom: 50px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #E5BC39;
	font-size: 60px;
	font-weight: bold;
	font-family: georgia, times, serif;
}

#flickr-thumbnail-grid div {
	display: inline-block;
	margin-bottom: 20px;
}

#flickr-pager a {
	display: inline-block;
	padding: 0 2px;
}

#flickr-pager a.current {
	color: #E5BC39;
	text-decoration: underline;
}

.container {
	width: 910px;
	padding: 0 60px 0;
	margin: auto;
	overflow: hidden;
}

.share-button {
	background: #54080F;
}

#flickr-thumbnail-grid img {
	display: block;
}

#flickr-thumbnail-grid a {
	padding: 1px;
	display: block;
	/* FIXME: Justify instead */
	/* margin: 0 20px 20px 0; */
}

#flickr-thumbnail-grid a:hover,
#flickr-thumbnail-grid .current a {
	border: 1px solid #E5BC39;
	padding: 0;
}

hr {
	border-width: 0 0 4px 0;
	border-color: white;
	border-style: solid;
	clear: both;
	margin: 15px 0;
}

#flickr-main-image {
	height: 500px;
}

#flickr-main-image img {
	margin: 0 auto;
	max-height: 100%;
}

#flickr-main-image {
	text-align: center;
}

#flickr-thumbnail-grid {
	text-align: justify;
	text-align-last: justify;
}

#flickr-thumbnail-grid:after {
	content: "";
	display: inline-block;
	width: 100%;
}

#flickr-form {
	text-align: right;
	margin: 20px 0;
	float: right;
}

#flickr-form input {
	vertical-align: top;
}

#flickr-search {
	width: 340px;
	/* float: right; */
	padding: 0 5px;
	border: solid #650700;
	border-width: 1px 0 1px 1px;
	background-origin: content-box;
	height: 28px;
	box-sizing: border-box;
}

#flickr-search-button {
	background: url('images/search.png') white;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0 5px;
	border: solid #650700;
	height: 28px;
	width: 28px;
	border-width: 1px 1px 1px 0;
	box-sizing: border-box;
}

.maroon-background {
	background: #650700;
	height: 270px;
	margin-bottom: -270px;
}

#flickr-pager {
	text-align: right;
}

/* 57 x 34 */
.share {
	float: right;
	background: url('images/share.png');
	display: inline-block;
	width: 57px;
	height: 34px;
	text-align: center;
	/* padding: 5px; */
}

.share:hover {
	background: url('images/share-over.png');
}

.share .share-content-container {
	display: none;
	margin-top: -120px;
	margin-left: -150px;
	float: right;
	width: 150px;
	height: 120px;
	position: relative;
}

.share-content-bg {
	padding: 10px 10px 0;
	background: #650700;
	position: relative;
	height: 100px;
}

.share-content-bg:after {
	content: '';
	position: absolute;
	bottom: -7px;
	right: 25px;
	-webkit-transform: rotate(45deg);
	transform:rotate(45deg);
	width: 20px;
	height: 20px;
	background: #650700;
	display: block;
}

.share:hover .share-content-container {
	display: block;
}

#flickr-title {
	margin: 10px 0;
	text-align: center;
}

#flickr-main-image-container {
	position: relative;
}

#flickr-previous-image,
#flickr-next-image {
	position: absolute;
	top: 205px;
	width: 58px;
	height: 58px;
	display: inline-block;
}

#flickr-previous-image {
	left: 0;
	background: url('images/left.png');
}

#flickr-previous-image:hover {
	background: url('images/left-over.png');
}

#flickr-next-image {
	right: 0;
	background: url('images/right.png');
}

#flickr-next-image:hover {
	background: url('images/right-over.png');
}

#logo {
	margin: 15px 0;
}
